<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">

    <script src="https://kit.fontawesome.com/b141e60595.js" crossorigin="anonymous"></script>
  </head>
  <body>
<header>
<div class="container content-wrapper">
    <a href="/"><h1>URL Shortener</h1></a>
<div class="linkIcon"><i class="fas fa-link"></i></div>
    <!-- partial templates will replace the part of "body" here -->
     {{{ body }}}
</div>
     <!-- include js files here -->
     <script src="/js/jquery-3.3.1.js"></script>
     <script src="/js/popper.js"></script>
     <script src="/js/bootstrap.js"></script>
  </body>
</html>

