<form action="/" method="POST">
<input class="inputField" required name="inputURL" type="url" placeholder="https://example.com" />
<button class="submit btn btn-primary" type="submit">Shorten</button>
</form>


